# Orders data set categories and subcategories

## Importing the needed libraries

In [1]:
import numpy as np
import pandas as pd

## Importing the *orders* data set

In [2]:
orders_path = 'orders_edited.csv'

Dob - date of birth;

PoR - customer place of residence;

EDT - expected delivery time;

ADT - actual delivery time; 

RoR - reason of return

Categories and respective sub-categories are: 
1. Garden furniture:
  * Bistro sets
  * Garden benches
  * Garden benches (2-pack)
  * Garden chairs
  * Garden chairs (2-pack)
  * Garden sets
  * Garden sets (2-pack)
  * Garden tables
  * Garden tables (2-pack)
  * Sun beds
  * Sun beds (2-pack)
  * \


2. Garden heating:
  * Fire pits
  * Fire pits (2-pack)
  * Fireplaces
  * Fireplaces (2-pack)
  * Patio heaters
  * Patio heaters (2-pack)
  * Torches
  * Torches (2-pack)
  * \


3. Garden reamers: 
  * Choppers
  * High pressure cleaner accessoires
  * High pressure cleaner accessoires (2-pack)
  * High pressure cleaners
  * High pressure cleaners (2-pack)
  * Leaf blowers
  * Leaf blowers (2-pack)
  * Wheelbarrrows
  * Wheelbarrrows (2-pack)
  * \


4. Garden hand tools:
  * (2-pack)
  * Garden tillers
  * Hoes
  * Hoes (2-pack)
  * Rakes
  * Rakes (2-pack)
  * Spades
  * Spades (2-pack)
  * Split forks
  * Split forks (2-pack) 
  * \


5. Control:
  * Grout brushes
  * Grout brushes (2-pack)
  * Insects and vermin
  * Insects and vermin (2-pack)
  * Weed brush
  * Weed brush (2-pack)
  * Weed burner
  * Weed burner (2-pack)
  * \


6. Watering: 
  * Garden hose holders
  * Garden hoses
  * Garden hoses (2-pack)
  * Pumps
  * Sprinklers
  * Sprinklers (2-pack)
  * \


7. Pruning:
  * BUXUS shears
  * BUXUS shears (2-pack)
  * Chain saws
  * Hedge trimmers
  * Hedge trimmers (2-pack)
  * Pruning shears
  * Pruning shears (2-pack)
  * \


8. Sun protection:
  * (2-pack)
  * Parasols
  * Parasols (2-pack)
  * Party tents
  * Party tents (2-pack)
  * Sunshades
  * Sunshades (2-pack)
  * \


9. Garden decoration:
  * Garden gnomes
  * Garden gnomes (2-pack)
  * Garden statues
  * Garden statues (2-pack)
  * Sundials
  * Sundials (2-pack)
  * \


10. Lounge furniture:
  * Garden bars
  * Garden bars (2-pack)
  * Lounge chairs
  * Lounge sets
  * Lounge sofas
  * Lounge stuff
  * Lounge tables
  * \


11. Gardening tools:
  * Brushcutters
  * Grass shears
  * Grass shears (2-pack)
  * Grass trimmers
  * Grass trimmers (2-pack)
  * Lawn mowers
  * Scarifying machines
  * \


12. Other furniture:
  * Hammock chair
  * Hammock chair (2-pack)
  * Hammocks
  * Hammocks (2-pack)
  * Picnic tables
  * \

In [3]:
df_orders = pd.read_csv(orders_path,
                        #parse_dates=['DoB', 'Order date'],
                        dtype=
                        {'Customer number': np.int64,
                         'Gender': object,
                         'PoR': object,
                         'Order number': np.int64,
                         'Product number': object,
                         'Sub category': object,
                         'Category': object,
                         'Count': np.int16,
                         'Price': np.float64,
                         'EDT': np.int16,
                         'ADT': np.int16,
                         'RoR': object,
                         'Rating': np.int8})

In [4]:
df_orders.head(5)

,Customer number,DoB,Gender,PoR,Order number,Order date,Product number,Sub category,Category,Count,Price,EDT,ADT,RoR,Rating
0,1063418,15-01-1944,Woman,Bloemendaal,1251137,20-12-2014,5146308036084,Garden chairs,Garden furniture,1,1090.82,2,2,NaN,-1
1,1062078,17-01-1934,Man,De Bilt,1658762,03-11-2017,8119187109467,Torches,Garden heating,6,385.92,4,4,NaN,-1
2,1007060,14-01-1947,Man,Doetinchem,106526,08-06-2013,6110364066490,Leaf blowers,Garden reamers,2,173.78,3,-1,No reason given,-1
3,1063418,15-01-1944,Woman,Bloemendaal,1251137,20-12-2014,8172375031575,Hoes,Garden hand tools,4,45.64,5,-1,Article is defect,-1
4,1063290,08-01-1971,Woman,Franekeradeel,439149,06-01-2015,8111132296154,Insects and vermin,Control,1,114.24,1,1,NaN,-1

In [5]:
df_orders.tail(5)

,Customer number,DoB,Gender,PoR,Order number,Order date,Product number,Sub category,Category,Count,Price,EDT,ADT,RoR,Rating
4523271,1050995,04-01-1985,Woman,Bloemendaal,1217438,15-10-2014,1114077091188,Garden sets,Garden furniture,1,754.89,1,1,NaN,-1
4523272,1007557,01-01-1998,Man,Binnenmaas,1540277,08-03-2016,5193146220373,Insects and vermin,Control,2,13.92,1,1,NaN,-1
4523273,1005313,05-01-1983,Man,Krimpenerwaard,1654412,01-03-2017,8178221161076,Garden statues,Garden decoration,1,290.72,1,1,NaN,5
4523274,1046645,06-01-1980,Man,Noordoostpolder,652198,08-12-2016,5120399093676,Grass trimmers,Gardening tools,6,578.22,2,2,NaN,4
4523275,1046085,13-01-1950,Woman,Drechterland,1202221,19-09-2014,7126004166658,Sunshades,Sun protection,1,441.69,1,1,NaN,4

In [6]:
df_orders.dtypes

Customer number      int64
DoB                 object
Gender              object
PoR                 object
Order number         int64
Order date          object
Product number      object
Sub category        object
Category            object
Count                int16
Price              float64
EDT                  int16
ADT                  int16
RoR                 object
Rating                int8
dtype: object

In [7]:
df_ordered = df_orders.groupby(['Category', 'Sub category'])
print(df_ordered[['Category', 'Sub category']].nunique().to_string())

                                                              Category  Sub category
Category          Sub category
Control           Grout brushes                                      1             1
                  Grout brushes (2-pack)                             1             1
                  Insects and vermin                                 1             1
                  Insects and vermin (2-pack)                        1             1
                  Weed brush                                         1             1
                  Weed brush (2-pack)                                1             1
                  Weed burner                                        1             1
                  Weed burner (2-pack)                               1             1
                  \                                                  1             1
Garden decoration Garden gnomes                                      1             1
                  Garden gnomes (2-pack)                             1             1
                  Garden statues                                     1             1
                  Garden statues (2-pack)                            1             1
                  Sundials                                           1             1
                  Sundials (2-pack)                                  1             1
                  \                                                  1             1
Garden furniture  Bistro sets                                        1             1
                  Garden benches                                     1             1
                  Garden benches (2-pack)                            1             1
                  Garden chairs                                      1             1
                  Garden chairs (2-pack)                             1             1
                  Garden sets                                        1             1
                  Garden sets (2-pack)                               1             1
                  Garden tables                                      1             1
                  Garden tables (2-pack)                             1             1
                  Sun beds                                           1             1
                  Sun beds (2-pack)                                  1             1
                  \                                                  1             1
Garden hand tools  (2-pack)                                          1             1
                  Garden tillers                                     1             1
                  Hoes                                               1             1
                  Hoes (2-pack)                                      1             1
                  Rakes                                              1             1
                  Rakes (2-pack)                                     1             1
                  Spades                                             1             1
                  Spades (2-pack)                                    1             1
                  Split forks                                        1             1
                  Split forks (2-pack)                               1             1
                  \                                                  1             1
Garden heating    Fire pits                                          1             1
                  Fire pits (2-pack)                                 1             1
                  Fireplaces                                         1             1
                  Fireplaces (2-pack)                                1             1
                  Patio heaters                                      1             1
                  Patio heaters (2-pack)                             1             1
                  Torches                                            1             1
                  Torches (2-pack)                                   1             1
                  \                                                  1             1
Garden reamers    Choppers                                           1             1
                  High pressure cleaner accessoires                  1             1
                  High pressure cleaner accessoires (2-pack)         1             1
                  High pressure cleaners                             1             1
                  High pressure cleaners (2-pack)                    1             1
                  Leaf blowers                                       1             1
                  Leaf blowers (2-pack)                              1             1
                  Wheelbarrrows                                      1             1
                  Wheelbarrrows (2-pack)                             1             1
                  \                                                  1             1
Gardening tools   Brushcutters                                       1             1
                  Grass shears                                       1             1
                  Grass shears (2-pack)                              1             1
                  Grass trimmers                                     1             1
                  Grass trimmers (2-pack)                            1             1
                  Lawn mowers                                        1             1
                  Scarifying machines                                1             1
                  \                                                  1             1
Lounge furniture  Garden bars                                        1             1
                  Garden bars (2-pack)                               1             1
                  Lounge chairs                                      1             1
                  Lounge sets                                        1             1
                  Lounge sofas                                       1             1
                  Lounge stuff                                       1             1
                  Lounge tables                                      1             1
                  \                                                  1             1
Other furniture   Hammock chair                                      1             1
                  Hammock chair (2-pack)                             1             1
                  Hammocks                                           1             1
                  Hammocks (2-pack)                                  1             1
                  Picnic tables                                      1             1
                  \                                                  1             1
Pruning           BUXUS shears                                       1             1
                  BUXUS shears (2-pack)                              1             1
                  Chain saws                                         1             1
                  Hedge trimmers                                     1             1
                  Hedge trimmers (2-pack)                            1             1
                  Pruning shears                                     1             1
                  Pruning shears (2-pack)                            1             1
                  \                                                  1             1
Sun protection     (2-pack)                                          1             1
                  Parasols                                           1             1
                  Parasols (2-pack)                                  1             1
                  Party tents                                        1             1
                  Party tents (2-pack)                               1             1
                  Sunshades                                          1             1
                  Sunshades (2-pack)                                 1             1
                  \                                                  1             1
Watering          Garden hose holders                                1             1
                  Garden hoses                                       1             1
                  Garden hoses (2-pack)                              1             1
                  Pumps                                              1             1
                  Sprinklers                                         1             1
                  Sprinklers (2-pack)                                1             1
                  \                                                  1             1

In [19]:
df_categories = df_orders.groupby(['Category'])['Price'].sum()
df_categories

Category
Control              6.190921e+07
Garden decoration    1.599343e+08
Garden furniture     1.065657e+09
Garden hand tools    8.157242e+06
Garden heating       7.273224e+07
Garden reamers       2.164450e+07
Gardening tools      5.270288e+07
Lounge furniture     2.607200e+08
Other furniture      5.505557e+07
Pruning              4.231611e+07
Sun protection       2.504123e+08
Watering             1.124898e+08
Name: Price, dtype: float64

In [30]:
df_orders['Order date'] = pd.to_datetime(df_orders['Order date'])
df_orders.tail(5)

,Customer number,DoB,Gender,PoR,Order number,Order date,Product number,Sub category,Category,Count,Price,EDT,ADT,RoR,Rating,my_dates
4523271,1050995,04-01-1985,Woman,Bloemendaal,1217438,2014-10-15,1114077091188,Garden sets,Garden furniture,1,754.89,1,1,NaN,-1,2014-10-15
4523272,1007557,01-01-1998,Man,Binnenmaas,1540277,2016-08-03,5193146220373,Insects and vermin,Control,2,13.92,1,1,NaN,-1,2016-08-03
4523273,1005313,05-01-1983,Man,Krimpenerwaard,1654412,2017-01-03,8178221161076,Garden statues,Garden decoration,1,290.72,1,1,NaN,5,2017-01-03
4523274,1046645,06-01-1980,Man,Noordoostpolder,652198,2016-08-12,5120399093676,Grass trimmers,Gardening tools,6,578.22,2,2,NaN,4,2016-08-12
4523275,1046085,13-01-1950,Woman,Drechterland,1202221,2014-09-19,7126004166658,Sunshades,Sun protection,1,441.69,1,1,NaN,4,2014-09-19

In [33]:
df_orders['day_of_week'] = df_orders['my_dates'].dt.day_name()
df_orders.tail(5)

,Customer number,DoB,Gender,PoR,Order number,Order date,Product number,Sub category,Category,Count,Price,EDT,ADT,RoR,Rating,my_dates,day_of_week
4523271,1050995,04-01-1985,Woman,Bloemendaal,1217438,2014-10-15,1114077091188,Garden sets,Garden furniture,1,754.89,1,1,NaN,-1,2014-10-15,Wednesday
4523272,1007557,01-01-1998,Man,Binnenmaas,1540277,2016-08-03,5193146220373,Insects and vermin,Control,2,13.92,1,1,NaN,-1,2016-08-03,Wednesday
4523273,1005313,05-01-1983,Man,Krimpenerwaard,1654412,2017-01-03,8178221161076,Garden statues,Garden decoration,1,290.72,1,1,NaN,5,2017-01-03,Tuesday
4523274,1046645,06-01-1980,Man,Noordoostpolder,652198,2016-08-12,5120399093676,Grass trimmers,Gardening tools,6,578.22,2,2,NaN,4,2016-08-12,Friday
4523275,1046085,13-01-1950,Woman,Drechterland,1202221,2014-09-19,7126004166658,Sunshades,Sun protection,1,441.69,1,1,NaN,4,2014-09-19,Friday

In [37]:
df_orders.groupby(["day_of_week"])["day_of_week"].agg("count").sort_values(ascending=False)

day_of_week
Friday       694115
Thursday     672776
Wednesday    653323
Saturday     648855
Tuesday      624655
Sunday       618902
Monday       610650
Name: day_of_week, dtype: int64